@charset "utf-8";

/* All Mobile Code */

#wrap{
    width: 100%;
}

header, main, footer{
    position: relative;
    width: 100%;
}

/* gnb/loginPage클릭시 바깥 배경을 어둡게 설정하기위한 div 시작 */
#blackbg{
    position:fixed;
    top:80px;
    left:0;
    width:100%;
    height:100%;
    z-index:99;
    background: rgba(0,0,0,0.5);
    display:none;
}

/* 헤더 시작 */
/* 헤더 부분 아이콘과 로고 css 시작 */
#headerIn{
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); 
    /* 밑부분에 그림자를 넣어주는것
    box-shadow: X Y 불러값 색상값(0,0,0,0.5);(반투명) */
    z-index:100; 
}

#pcheader{
    display: none;
}

.nav{
    position: relative;
    width: 30px;
    height: 30px;
}

.shopping{
    position: relative;
    width: 60px;
    height: 30px;
}

.nav{
    left:10px;
}



.nav>a, .shopping>a{
    display: block;
    width: 100%;
    height: 30px;
}

.fa-shopping-bag{
    padding-right: 10px;

}

.shopping>a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#666;
}


.nav>a>span, .shopping>a>span{
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    font-size: 1.571rem;
    line-height: 33px;
    color: #666;
}

.fa-bars, .fa-shopping-bag{
    font-size: 2.143rem;
}

.logo{
    width: 178px;
    height: 180px;
    margin: 0 auto;
}

.logo>a{
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 15px;
}

.logo>a>img{
    width: 100%;
    height: 100%;
}
/* 헤더 부분 아이콘과 로고 css끝 */

/* gnb부분 시작 */
#gnb{
    position: fixed;
    width: 70%;
    height: 100%;
    left:-100%;
    background: #fff;
    display:none;
    z-index: 999;
}

#search{
    width: 100%;
    height: 60px;
    border-bottom:1px solid #ccc;
    background: #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sh{
    width: 100%;
    height: 30px;
    font-size: 1.143rem;
    background: #ccc;
    margin-left:18px;
    color: #fff;
    border: 1px solid #ccc;
}

#search>a{
    display: block;
    position: relative;
    right: 22px;
}

#gnb>ul>li>a{
    position: relative;
    display: block;
    font-size: 1rem;
    text-indent: 20px;
    padding: 15px 0;
    border-bottom:1px solid #ccc;

}

#gnb>ul>li:nth-child(8)>a{
    display: block;
    line-height: 10px;   
    border-bottom:none;
}
#gnb>ul>li:nth-child(8)>a:last-child{
    border-bottom:1px solid #ccc;
}


#gnb>ul>li>a::after{
    content: "+";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom:28%;
    right: 50px;
    transform: translateY(-50%);
    font-size: 1.857rem;
}

#gnb>ul>li:nth-child(8)>a::after{
    content: ">";
    display: block;
    font-size: 1.429rem;
    font-weight: 200;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 62%;
    right: 41px;
    transform: translateY(-50%);
}

.dfont{
    display: block;
}

#gnb>ul>.depth1>a::after,
#gnb>ul>.gko>a::after{
    content: ">";
    display: block;
    font-size: 1.429rem;
    font-weight: 200;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 45%;
    right: 41px;
    transform: translateY(-50%);
}

.depth2{
    display: none;
    padding-top:15px;
}

.depth2>li>a{
    display: block;
    padding:8px;
    font-size: 0.857rem;
    text-indent: 20px;
}
/* gnb부분 끝 */

/* loginPage부분 시작 */
#loginPage{
    width: 100%;
    height: auto;
}

#loginPageIn{
    margin: 0 auto;
    background: #fff;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:none;
    z-index: 999;
}

.plogo{
    width: 100%;
    height: auto;
    padding: 15px 0;
 
}

.plogo>li{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    padding-top: 20px;
}

.plogo>li>a{
    display: block;
    font-weight: 600;
    color: #666;
}

.close{
    font-size: 1.714rem;
    line-height: 22px;
}

.plogo>li>a>img{
    width: 97px;
    height: 100px;
    margin-top:50px;
    margin-left: 40px;
    padding: 40px 0;
}

.page{
    width: 80%;
    height: auto;
    padding: 10px 0;
    margin: 0 auto;
}

.page>ul>li{
    width: 100%;
    height: auto;
    padding: 4px 0;
}

#login, #pw{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    font-size: 12px;
    padding: 10px 0;
    text-indent: 10px;
    color: #333;
}

.l1{
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 5px 0;
}

.l1>a{
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #333;
    padding: 5px 0;
    font-weight: 600;
    color: #fff;
}

.l2{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.l2>ul{
    width: 100%;
    height: auto;
    padding: 15px 0;
}

.l2>ul>li{
    width: 100%;
    height: auto;
}


.l2>ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
    text-align: center;
}

.iconpage{
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 20px 0;
}

.iconpage>ul>li{
    width: 100%;
    height: auto;
    padding: 5px 0;
    margin-bottom:15px;
}

.iconpage>ul>li>a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconpage>ul>li:nth-child(1){
    background: #1db91d;
}

.iconpage>ul>li:nth-child(2){
    background: #0362ad;    
}

.iconpage>ul>li:nth-child(3){
    background: #ccc;
}

.iconpage>ul>li>a>img{
    width: 20px;
    height: 20px;
    margin-left: 30px;
}

.iconpage>ul>li>a>span{
    width: 100%;
    display: block;
    font-size: 12px;
    padding: 10px 0;
    font-weight: 600;
    text-align: center;
    color:#fff;
}

.blackbg2{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 1920px;
    height: 100%;
    background: #000;
    z-index: 3;
    opacity: 0.6;
    display: none;
}

/* loginPage부분 끝 */
/* 헤더 부분 끝 */

#findstore{
    display: none;
}

/* 메인부분 시작 */
#mainVisuel{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.main_img{
    position: relative;
    margin:50px 0 10px 0;
}

.main_img>ul>a{
    display: block;
    width: 100%;
    height: 100%;
}

.main_img>ul>a>img{
    width: 100%;
    height: 100%;
}

.main_box{
    position: absolute;
    top: -13px;
    right:0;
    width: 55%;
    top:50%;
    transform: translateY(-50%);
    height: 110%;
    background: rgba(51,102,153,0.5);
}

.main_font{
    position: absolute;
    top: 0;
    right:0;
    width: 45%;
    height: 60%;
    top:50%;
    right:22%;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.5);
    border: 3px solid #fff;
    z-index: 2;
}
.main_font>ul>li>span{
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top:5%
}
.main_font>ul>li:nth-child(1)>span{
    font-size: 1.286rem;
    font-weight: 600;
}
.main_font>ul>li:nth-child(2)>span{
    font-size: 1rem;
}

.main_font>ul>li:nth-child(3)>span{
    font-size: 0.857rem;
    font-weight: 600;
    margin-top:5%;
    
}

.z{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 35px 0;
}

.z>img{
    width: 43px;
    height: 30px;
}

#event{
    width: 90%;
    height: auto;
    margin: 0 auto;
}

#event>ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#event>ul>li{
    position: relative;
    margin-bottom:30px;
}

#event>ul>li>img{
    width: 100%;
    height: 100%;
}

.event_main{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: auto;
    background: rgba(255,255,255,0.5);
}

address{
    text-align: center;
    font-size: 1rem;
    margin-top:5px;
}


.e_mfont{
    font-weight: 600;
}


.e_font1{ 
    font-size: 1.571rem;
    font-weight: 600;
}



.e_font2{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom:5px;
}


.event_main>li>span{
    display: block;
    text-align: center;
}

.e_play{
    position: absolute;
    text-align: center;
    padding: 4%;
    top:40%;
    left:43%;
    border: 1px solid #000;
    font-size: 1.429rem;
    background: rgba(255,255,255,0.5);
}



#event>ul>li:last-child{
    margin: 0;
}

/* btn부분 시작 (사진 페이지 부분) */
.sum_btn{
    width: 90%;
    height: auto;
    margin: 0 auto;
}


.sum_btn>ul>li{
    width: 100%;
    height: auto;
    margin-bottom:15px;
}

.sum_btn>ul>li>a{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.btns1, .btns2, .btns3{
    width: 100%;
    height: 122px;
}

.btns1{
    background: url("../images/mbtn1.jpg") no-repeat center / cover ;
}

.btns2{
    background: url("../images/mbtn2.jpg") no-repeat center / cover ;
}

.btns3{
    background: url("../images/mbtn3.jpg") no-repeat center / cover ;
}


.sbtn{
    display: block;
    position: absolute;
    top:0px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 2.143em;
    color: #fff;
    text-indent: 20px;
    z-index: 99;
}

.bbg{
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999;
    background: rgba(0,0,0,0.3);
}
/* btn부분 끝 (사진 페이지 부분) */

footer{
    width: 100%;
    height: auto;
    background: black;
}

#fnav{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#fnav>ul>li{
    background: #000;
    padding: 10px 0;
    margin: 0 auto;
}

#fnav>ul>li>a{
    position: relative;
    display: block;
    font-size: 1.143rem;
    color: #fff;
    padding: 5px 0;
    text-indent: 10px;
    font-weight: 600;
}

.fsns{
    padding:30px 0;
}

.sns_icon>li{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 40%;
    margin-left:20px;
}

.sns_icon>li>a{
    display: block;
    font-size: 1.714rem;
    color:#fff;
}

.knum, .knum1{
    display: block;
    width: 90%;
    font-style: normal;
    font-size: 0.857rem;
    color: #ccc;
    padding: 5px 0;
    margin-left:20px;
    line-height: 24px;
}

.knum1>img{
    margin-top:5px;
    margin-left:10px;
}
.knum{
    margin-bottom:20px;
}

.f_font{
    width:100%;
    height: auto;
    margin: 0 auto;
}

.f_font>ul>li>a{
    display: block;
    width: 90%;
    font-style: normal;
    font-size: 1rem;
    color: #fff;
    padding: 5px 0;
    margin-left:20px;
    line-height: 24px;
    font-weight: 600;
}

.f_bottom1{
    margin-bottom:20px;
}

.flogo{
    width: 100%;
    height: 50px;
    padding: 20px 0;
    display: none;
}

.flogo>a{
    display: block;
    position: relative;
    width: 200px;
    height: 80px;
    background: url("../images/flogo.png") no-repeat;
    margin: 0 auto;
    top:50%;
    transform: translateY(-50%);
    z-index: 99;
}

.cpy{
    display: block;
    font-size: 1rem;
    padding: 5px 0;
}
/* 풋터 아이콘 링크 시작 */
/* footer 끝 */


@media all and (min-width:768px){
    .nav{
        left:20px;
    }
    .shopping{
        right: 10px;
    }

    #gnb>ul>li>a{
        font-size: 1.143rem;
        text-indent: 20px;
        padding: 20px 0;
    }
    
    #gnb>ul>li>a::after{
        bottom:35%;
        font-size: 2rem;
    }
    
    .depth2>li>a{
        display: block;
        padding:8px;
        font-size: 1rem;
        text-indent: 20px;
    }
    
    #loginPageIn{
        top: 100px;
        left: 27%;
        width: 45%;
        height: 85%;
    }

    .main_font>ul>li>span{
        margin-top:8%;
    }
    .main_font>ul>li:nth-child(1)>span{
        font-size: 2rem;
        font-weight: 600;
    }
    .main_font>ul>li:nth-child(2)>span{
        font-size: 1.286rem;
    }
    
    .main_font>ul>li:nth-child(3)>span{
        font-size: 1.143rem;
        font-weight: 600;
    }
    
    #event{
        width: 100%;
    }
    
    #event>ul{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

    }
    
    #event>ul>li{
        width: 48%;
    }

    .e_mfont{
        font-size: 0.857rem; 
    }
    
    .e_play{
        font-size: 1.571rem;
    }

    #event>ul>li:last-child{
        margin-bottom:30px;
    }
    #event>ul>li:nth-child(2),
    #event>ul>li:nth-child(4){
        position: relative;
        top:30px;
    }

    .sum_btn{
        width:100%;
        height: 100%;
    }

    .sum_btn>ul{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sum_btn>ul>li>a{
        width: 95%;
        margin: 0 auto;
    }

    .sbtn{
        font-size: 2rem;
    }

    .btns1, .btns2, .btns3{
        width: 100%;
        height: 154px;
    }
    
    .btns1{
        background: url("../images/tbtn1.jpg") no-repeat center / cover ;
    }
    
    .btns2{
        background: url("../images/tbtn2.jpg") no-repeat center / cover ;
    }
    
    .btns3{
        background: url("../images/tbtn3.jpg") no-repeat center / cover ;
    }

    .sns_icon>li{
        width: 25%;
        margin-left:52%;
    }

    .sns_icon>li>a{
        font-size: 2rem;
    }

    .f_knum>li{
        display: flex;
        justify-content: space-between;
    }

    f_knum>ul>li>{
        display: block;
        width: 100%;
        font-style: normal;
        font-size: 0.857rem;
    }

    .knum1>img{
        margin-top:5px;
        margin-left:10px;
    }

    .knum1{
        margin-top:-5%;
    }

    .f_font{
        display: flex;
        justify-content: space-between;
        margin-top:-11%;
    }

    .f_bottom2{
        margin-right: 55%;
    }


    .f_font>ul>li>a{
        width: 100%;
        font-size: 1rem;
    }

    .f_bottom1{
        margin-bottom:20px;
    }

}

@media all and (min-width:900px){
    .f_font{
        padding-top:20px;
    }

    .sns_icon>li{
        margin-left:60%;
    }
    
    .knum1{
        margin-left:12%;
    }
}


@media all and (min-width:1200px){
    #mheader, #blackbg{
        display: none;
    }

    #wrap{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    #pcheader{
        display: block;
    }
  
    #pheaderIn{
        width: 1200px;
        height: 40px;
        margin: 0 auto;
    }
    
    #putill{
        width: 100%;
        height: 40px; 
        display: flex;
        justify-content: space-between;
    }
    
    #putill>ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #putill>ul>li>a{
        display: block;
        height: 20px;
        font-size: 14px;
        padding:0 19px;
        line-height: 20px;
    }
    
    #putill>ul:nth-child(1)>li:first-child>a>img{
        margin-top:1px;
    }

    #putill>ul:nth-child(1)>li:first-child>a{
        padding-left:0;
    }
    
    #putill>ul:nth-child(2)>li:last-child>a{
        padding-right:0;
    }
    
    #pbottom{
        width:960px;
        height: 140px;
        margin: 0 auto;
    }
    
    .plogo{
        width: 100%;
        height: auto;
    }

    .plogo>a{
        display: block;
        position: relative;
        top:-30px;
        right: 15px;
    }
    

    #pgnb{
        position: relative;
        top:15px;
        width: 960px;
        height: 140px;
        padding: 10px 0;
    }

    #pgnb>ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #pgnb>ul>li{
        position: relative;
    }
    #pgnb>ul>li>a{
        display: block;
        width: 150px;
        font-size: 16px;
        font-weight: 600;
        padding: 5px 0;
        text-indent: 10px;
    }
    
    #pgnb>ul>li:last-child>a{
        width: 85px;
    }

    #pgnb>ul>li:nth-child(6)>a{
        width: 170px;
    }
    
    .pdepth2{
        position: absolute;
        width: 200px;
        margin-top:20px;
        background: #fff;
        z-index: 999;
        display: none;  
    }

    .pdepth2>li>a{
        display: block;
        padding: 8px 0;
        text-indent: 10px;
    }
    

    #mainVisuel{
        width: 1200px;
        height: auto;
        margin: 0 auto;
    }
    
    .main_font{
        position: absolute;
        top: 0;
        right:0;
        width: 30%;
        height: 40%;
        top:50%;
        right:30%;
        transform: translateY(-50%);
        background: rgba(255,255,255,0.5);
        border: 3px solid #fff;
        z-index: 2;
    }
    .main_font>ul>li>span{
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
        margin-top:7%
    }
    .main_font>ul>li:nth-child(1)>span{
        font-size: 2rem;
        font-weight: 600;
    }
    .main_font>ul>li:nth-child(2)>span{
        font-size: 1.286rem;
    }
    
    .main_font>ul>li:nth-child(3)>span{
        font-size: 1.143rem;
        font-weight: 600;
        margin-top:10%;
    }

    .main_font>ul>li:nth-child(3)>span>a:hover{
        color:#666;
    }
    
    #event{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    #event>ul{
        width: 1200px;
        height: auto;
        margin: 0 auto;
    }

    #event>ul>li{
        width: 49%;
    }

    #event>ul>li:nth-child(1),
    #event>ul>li:nth-child(3){
        margin-right: 12px;
    }

    #event>ul>li:nth-child(2),
    #event>ul>li:nth-child(4){
        margin-left: 12px;
    }

    .e_play:hover{
        background: rgba(0,0,0,0.5);
        border: 1px solid #fff;
        color: #fff;
    }
    
    .e_mfont:hover{
        color:#666;
    }

    .e_font1>a:hover{
        color:#666;
    }

    .e_font2>a:hover{
        color:#666;
    }   
   
    .sum_btn{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .sum_btn>ul{
        width: 1200px;
        margin: 0 auto;
    }

    .btns1, .btns2, .btns3{
        width: 100%;
        height: 240px;
        margin-bottom:30px;
        
    }

    .btns1:hover, .btns2:hover, .btns3:hover{
        background-size: 420px 300px;
    }
    
    .btns1{
        background: url("../images/btn1.jpg") no-repeat center / cover ;
    }
    
    .btns2{
        background: url("../images/btn2.jpg") no-repeat center / cover ;
    }
    
    .btns3{
        background: url("../images/btn3.jpg") no-repeat center / cover ;
    }
    
    .sbtn{
        font-size: 2.571rem;
    }

    .sbtn:hover{
        position: relative;
        top: 90px;
        left:115px;
        color:#33ccff;
        font-size: 3rem;
        transition: all 0.5s;

    }

    #fnav{
        width: 1200px;
        height: auto;
        margin: 0 auto;
       
    }

    .sns_icon>li{
        position: relative;
        right:125px;
        width: 20%;
        margin-left:auto;
        
    }

    .f_knum>li{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    f_knum>ul>li>{
        display: block;
        width: 100%;
        font-style: normal;
        font-size: 0.857rem;
    }

    .knum1>img{
        margin-top:5px;
        margin-left:10px;
    }

    .knum1{
        position: relative;
        left:120px;
        margin-top:0;
        
    }

    .f_bottom2{
        margin-right: 60%;
    }

    .f_font{
        display: flex;
        justify-content: space-between;
        margin-top:-9%;
    }


    .f_font>ul>li>a{
        width: 100%;
        font-size: 1rem;
    }

    .z{
        padding: 50px 0;
    }
     
    .pshopping{
        position: absolute;
        width: 60px;
        height: 30px;
        top:48px;
        right: -120px;
    }
    
    .pshopping>a{
        display: block;
        width: 100%;
        height: 30px;
    }
    
    .pshopping>a{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color:#000;
    }
    
    
    .pshopping>a>span{
        display: block;
        width: 30px;
        height: 30px;
        margin: 0 auto;
        font-size: 1.571rem;
        line-height: 33px;
        color: #000;
    }
    
    #findstore{
        position: fixed;
        width: 1230px;
        height: 767px;
        background: #f8f8f8;
        z-index: 99;
        top: 110px;
        left: 340px;
        display: none;
    }
    
    #findstore>a{
        display: block;
        position: absolute;
        width: 60px;
        height: 60px;
        right: 0;
        background: #000;
        z-index: 100;
    }
    
    #findstore>a img{
        width: 50px;
        height: 50px;
        margin: 5px 5px;
    }
    
    
    #findstore>div{
        float: left;
    }
    
    .searchbox{
        width: 400px;
        height: 767px;
        border-right: 1px solid #ddd;
        box-sizing: border-box;
    }
    
    .searchbox:before{
        content: "";
        display: block;
        width: 399px;
        height: 137px;
        background: url("../images/searchboxtop.jpg");
    }
    
    .box1{
        margin-top: 50px;
    }
    
    .box1 p{
        width: 200px;
        font-size: 22px;
        margin-left: 20px;
    }
    
    .selbox{
        width: 283px;
        height: 50px;
        background: #eee;
        margin-top: 5px;
        margin-left: 20px;
    }
    
    .box1 button{
        width: 65px;
        height: 50px;
        margin-left: 10px;
        border: 0;
        background: #000;
        border-radius: 5px;
    }
    
    .box1 button a{
        display: block;
        width: 65px;
        height: 50px;
        color: #fff;
        font-size: 14px;
        line-height: 50px;
    }
    
    
    .box2{
        margin-top: 30px;
    }
    
    .box2 p{
        width: 200px;
        font-size: 22px;
        margin-left: 20px;
    }
    
    .sksearch{
        width: 278px;
        height: 50px;
        background: #eee;
        margin-top: 5px;
        margin-left: 20px;
        border: 1px solid #aaa;
        padding-left: 5px;
    }
    
    .box2 button{
        width: 65px;
        height: 50px;
        margin-top:5px;
        margin-left: 10px;
        border: 0;
        background: #000;
        border-radius: 5px;
    }
    
    .box2 button a{
        display: block;
        width: 65px;
        height: 50px;
        color: #fff;
        font-size: 14px;
        line-height: 50px;
    }
    
    
    .searchbox>img{
        position: absolute;
        bottom: 0;
        left: 30px;
    }
    
    
    .map{
        width: 830px;
        height: 767px;
    }
    
    .map>div{
        position: absolute;
        top: 0;
        right: 0;
        
    }

    .blackbg2{
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: 1920px;
        height: 100%;
        background: #000;
        z-index: 3;
        opacity: 0.6;
        display: none;
    }
    
    #loginPage{
        width: 100%;
        height:100%;
    }
    
    #loginPageIn{
        left: 34.5%;
        width: 30%;
    }
    
    .plogo{
        position: relative;
        top:2%;
        left:0%;
        width: 100%;
        height: auto;
    }
    
}